<!DOCTYPE html>
<html lang="es">

<head>

<!-- Etiquetas meta para el indexeo de la pagina web-->
<meta charset="UTF-8">
<meta name="description" content="Pagina de compra de Videojuegos">
<meta name="robots" content="nofollow">
<meta name="Author" content="Manuel Alloza Marco">
<meta name="keywords" content="Videojuegos, criticas y compras">
<meta name="revisit-after" content="2 days">
<meta name="category" content="Prácticas">
<!--Etiqueta meta para que la pagina se adapte en dispositivos pequeños-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Declaración de fichero de estilos -->
<link rel="stylesheet" type="text/css" href="../css/estilos.css">

<title>Focus Gaming - Contacto</title>

</head>

<body>
	<!--Declaro el archivo js que vamos a emplear-->
	<script src="../js/MapaDinamico.js"></script>
	<!-- Cargamos la API de Google Maps -->
	 <!--Usando nuestra Key que hemos creado-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD141qpPYjC7rggjq98jkoXGhzBWMxxac0&callback=initMap"></script>

	<div class="div_container">
	
		<header>
		
			<nav>		
				<div class="div_menu">
					<img src="../img/logo1.png" class="logo-nav" width="130" height="84" alt="Imagen de un mando">	
					<ul class="menu-nav">
						<li><a href="../index.html" class="button_nav">Índice</a></li>
						<li><a href="galeria.html" class="button_nav">Videojuegos</a></li>
						<li><a href="presupuesto.html" class="button_nav">Presupuesto</a></li>
						<li><a href="#" class="button_nav_in">Contacto</a></li>
					</ul>
				</div>
			</nav>
 
		</header>

		<br>
		<br>

		<div class="div-contact">
			<section>
				<!-- html para crear los datos de contacto de la pagina web-->
				<div id="div_main_section">
					<br>
					<h1>Contacto</h1>

					<div id="mapa"></div>

					<h2>Datos de contacto</h2>
					<p>Nombre del negocio: GGAMERS</p>
					<p>Dirección: C. de Leon XIII</p>
					<p>Teléfono: +34 123 456 789</p>
					<p>Email: ggamers@gamil.com</p>

					</div> 
				</section>
		</div>
			
	</div>
				
		<!-- html del pie de página-->
		<!-- -->
		<footer>
  			<div id="div_footer">
  				<!-- Uso las etiquetas a para convertir los iconos en un enlace para las distintas redes sociales-->
    			<a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
      				<img src="../img/instagram.png" width="512" height="512" class="footer-icon" alt="Icono instagram">
   				</a>
    			<a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
      				<img src="../img/facebook.png" width="512" height="512" class="footer-icon" alt="Icono facebook">
    			</a>
    			<a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
      				<img src="../img/X.png" width="500" height="500" class="footer-icon" alt="Icono x">
    			</a>
    			----- Focus Gaming ----- C/Leon XIII CP 50008 ----- Todos los derechos reservados 
  			</div>
		</footer>


</body>

</html>